In [71]:
import numpy as np
import pandas as pd

In [72]:
df=pd.read_csv("spam.csv", encoding='iso-8859-1')
df.head(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [73]:
df.shape

(5572, 5)

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [75]:
df.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis='columns')

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [80]:
df.rename(columns={'v1':'target','v2':'text'},inplace=True)
df.sample(5)

,target,text,Unnamed: 2,Unnamed: 3,Unnamed: 4
4815,ham,Anything is valuable in only 2 situations: Fir...,NaN,NaN,NaN
3802,ham,Yup song bro. No creative. Neva test quality. ...,NaN,NaN,NaN
3537,ham,We are pleased to inform that your application...,NaN,NaN,NaN
3141,ham,Not planned yet :)going to join company on jan...,NaN,NaN,NaN
2115,ham,Well I wasn't available as I washob nobbing wi...,NaN,NaN,NaN

In [81]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [82]:
df['target'] = encoder.fit_transform(df['target'])

In [83]:
df.head()

,target,text,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,0,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,0,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,1,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,0,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,0,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [86]:
df.isnull().sum()

target           0
text             0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [87]:
df.duplicated().sum()

403

In [88]:
df.drop_duplicates(keep='first')

,target,text,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,0,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,0,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,1,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,0,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,0,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,1,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,0,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,0,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,0,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,0,Rofl. Its true to its name,NaN,NaN,NaN

In [89]:
df.duplicated().sum()

403

In [90]:
df.shape

(5572, 5)

In [91]:
!pip install nltk
import nltk

Requirement already satisfied: nltk in c:\users\acer\anaconda3\lib\site-packages (3.7)
Requirement already satisfied: tqdm in c:\users\acer\anaconda3\lib\site-packages (from nltk) (4.64.1)
Requirement already satisfied: joblib in c:\users\acer\anaconda3\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: click in c:\users\acer\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: regex>=2021.8.3 in c:\users\acer\anaconda3\lib\site-packages (from nltk) (2022.7.9)
Requirement already satisfied: colorama in c:\users\acer\anaconda3\lib\site-packages (from click->nltk) (0.4.5)

In [92]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\acer\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [93]:
df['num_characters'] = df['text'].apply(len)

In [18]:
df2.head()

  target                                               text  num_characters
0    ham  Go until jurong point, crazy.. Available only ...             111
1    ham                      Ok lar... Joking wif u oni...              29
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...             155
3    ham  U dun say so early hor... U c already then say...              49
4    ham  Nah I don't think he goes to usf, he lives aro...              61

In [23]:
df2['num_words'] = df2['text'].apply(lambda x:len(nltk.word_tokenize(x)))
df2.head()

C:\Users\acer\AppData\Local\Temp\ipykernel_11580\3082526047.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['num_words'] = df2['text'].apply(lambda x:len(nltk.word_tokenize(x)))

,target,text,num_characters,num_words,num_sentences
0,ham,"Go until jurong point, crazy.. Available only ...",111,24,2
1,ham,Ok lar... Joking wif u oni...,29,8,2
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,155,37,2
3,ham,U dun say so early hor... U c already then say...,49,13,1
4,ham,"Nah I don't think he goes to usf, he lives aro...",61,15,1

In [24]:
df2['num_sentences'] = df2['text'].apply(lambda x:len(nltk.sent_tokenize(x)))
df2.head()

C:\Users\acer\AppData\Local\Temp\ipykernel_11580\982276105.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['num_sentences'] = df2['text'].apply(lambda x:len(nltk.sent_tokenize(x)))

,target,text,num_characters,num_words,num_sentences
0,ham,"Go until jurong point, crazy.. Available only ...",111,24,2
1,ham,Ok lar... Joking wif u oni...,29,8,2
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,155,37,2
3,ham,U dun say so early hor... U c already then say...,49,13,1
4,ham,"Nah I don't think he goes to usf, he lives aro...",61,15,1

In [28]:
df2[['num_characters','num_words','num_sentences']].describe()

       num_characters    num_words  num_sentences
count     5169.000000  5169.000000    5169.000000
mean        78.977945    18.453279       1.947185
std         58.236293    13.324793       1.362406
min          2.000000     1.000000       1.000000
25%         36.000000     9.000000       1.000000
50%         60.000000    15.000000       1.000000
75%        117.000000    26.000000       2.000000
max        910.000000   220.000000      28.000000

In [29]:
#spam
df2[df2['target'] == 1][['num_characters','num_words','num_sentences']].describe()

       num_characters  num_words  num_sentences
count             0.0        0.0            0.0
mean              NaN        NaN            NaN
std               NaN        NaN            NaN
min               NaN        NaN            NaN
25%               NaN        NaN            NaN
50%               NaN        NaN            NaN
75%               NaN        NaN            NaN
max               NaN        NaN            NaN

In [30]:
# ham
df2[df2['target'] == 0][['num_characters','num_words','num_sentences']].describe()

       num_characters  num_words  num_sentences
count             0.0        0.0            0.0
mean              NaN        NaN            NaN
std               NaN        NaN            NaN
min               NaN        NaN            NaN
25%               NaN        NaN            NaN
50%               NaN        NaN            NaN
75%               NaN        NaN            NaN
max               NaN        NaN            NaN

In [31]:
print(df2['target'].unique())

['ham' 'spam']

In [34]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [35]:
df2['target'] = encoder.fit_transform(df['target'])

KeyError: 'target'